@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "About Page.";
}

<h2>The Fortaleza University project.</h2><br>
<p>Class Name: CIT 365 - ASP .NET Development with C#</p>
<p>Student Name: Jean Oliveira</p>
<p>Instructor: Jason Blazzard</p><br>


<h2>Last Students Enrollment.</h2>
<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>