@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Soares Bulcão Street<br />
    Fortaleza, CE 60325-640<br />
    <abbr title="Phone">P:</abbr>
    +55 85 30134084
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jeanxandre@gmail.com">jeanxandre@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jeanxandre@gmail.com">jeanxandre@gmail.com</a>
</address>
