@{     
ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>University of Fortaleza</h1>
</div>
<div class="row">
    <div class="col-md-5">
        <h2>Welcome to University of Fortaleza</h2>
        <p>
            Study with the University of Fortaleza , anywhere in the world.
        </p>
    </div>
    <div class="col-md-5">
        <h2>Build your carrer in a great place.</h2>
        <p>You can build your professional future studying in great University in Brazil.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Where we are &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Study at University of Fortaleza</h2>
        <p>--Master's degree programmes.</p>
        <p>--Admission for international applicants.</p>
        <p><a class="btn btn-block" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Enroll now !!! &raquo;</a></p>
    </div>
</div>